Package: com.ph0qu3_111.iPwnStrap
Name: iPwnStrap
Version: 1.0
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0)
Description: Jailbreak for iPhone iPad and iPod
Maintainer: Ph0qu3_111
Author: Ph0qu3_111
Section: System


